@(lessons: List[Lesson], urls: List[ScheduleURL], urlForm: Form[ScheduleURL])

@import helper._

@main("Страница администрирования")("admin") {
    <div id="content">
        <div id="content-header">
                <!--<div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Common elements</a> </div>-->
            <h1>Страница администрирования</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span6">

                    @if(urls.size() > 0) {
                        <table class="table table-striped" style="max-width: 700px;
                            margin-left: 15px;">
                        @for(url <- urls) {
                            <tr>
                                <td style="min-width: 500px;">@url.url</td>
                                <td style="min-width: 100px;">@form(routes.Application.editURLForm(url.id)) {
                                    <input type="submit" class="btn btn-info" value="Изменить">
                                    }
                                </td>
                                <td style="min-width: 100px;">@form(routes.Application.deleteURL(url.id)) {
                                    <input type="submit" class="btn btn-danger" value="Удалить">
                                    }
                                </td>
                            </tr>
                        }
                        </table>
                    }

                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>Добавление нового URL</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <form action="@routes.Application.insertURL()" method="POST" class="form-horizontal">
                                <div class="control-groupNumber">
                                    <label class="control-label">URL</label>
                                    <div class="controls">
                                        <input type="text" class="span11" name="urlFieldValue" placeholder="Ссылка на файл расписания"/>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success">Добавить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}