@(lessons: List[Lesson])

@import helper._

<!DOCTYPE html>
<html>
	
	<head>
		<title>Админ, приветствуем!</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
		<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="@routes.Assets.at("dist/css/bootstrap.css")">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>		
  </head>

  <body>
		
	<div class="container marketing">

		<form action="@routes.Application.insertLessons()" method="POST">
			<h2>Введите новые данные:</h2>
			<div class="col-xs-2">
				<input type=text class="form-control" name="groupNumber" placeholder="Номер группы"/>
			</div>
			<div class="col-xs-2">
				<input type=text class="form-control" name="day" placeholder="День недели"/>
			</div>
			<div class="col-xs-2">
				<input type=text class="form-control" name="hours" placeholder="Время занятия"/>
			</div>
			<div class="col-xs-2">
				<input type=text class="form-control" name="lecture" placeholder="Название предмета"/>
			</div>
			<div class="col-xs-2">
				<input type=text class="form-control" name="teacher" placeholder="ФИО преподавателя"/>
			</div>
			<div class="col-xs-2">
				<input type=text class="form-control" name="room" placeholder="Номер аудитории"/>
			</div>
			<br><br>
			<div class="col-xs-2"><input type="submit" class="btn btn-default" value="Внести"></div>
			<br><br>
		</form>		
				
		<form action="@routes.Parsing.pars()" method="GET">
			<h2>Или получите их автоматически из Excel:</h2>
			<div class="col-xs-2"><input type="submit" class="btn btn-default" value="Получить"></div>
			(Убедитесь, что не делали этого ранее!)
		</form>
				
	</div>
	
</body></html>