@(urlForm: Form[ScheduleURL])

@import helper._

@main("Редактировать URL")("admin") {
    <div id="content">
        <div id="content-header">
                <div id="breadcrumb"> <a href="/admin/" title="Страница администрирования" class="tip-bottom"><i class="icon-home"></i> Администрирование</a> <a href="#" class="tip-bottom">Редактирование URL</a> </div>
            <h1>Редактирование URL</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <h2>Внести изменения:</h2>

                @form(controllers.routes.Application.editURL()) {
                    <input type="hidden" name="id" value="@urlForm.get().id"/>
                    <div class="col-xs-12">
                        <input type=text class="form-control" name="name" placeholder="Ссылка" value="@urlForm.get().url"/>
                    </div>
                    <button type="submit"  class="btn btn-default" style="margin-left: 15px;">Сохранить</button>
                }
            </div>
        </div>
    </div>
}