@(filterForm: play.api.data.Form[App.GroupFormData], groups: Seq[String] = App.allGroups)

@main("Главная")("group") {
    <div id="content">
        <div id="content-header">
                <!--<div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Common elements</a> </div>-->
            <h1>Расписание группы в формате iCalendar(ICS)</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>Фильтр</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <form action="@routes.App.groupSchedule()" method="get" class="form-horizontal">

                                <div class="control-groupNumber">
                                    <label class="control-label">Группа</label>
                                    <div class="controls">
                                        <select  name="group">
                                            <option value="">Выберите группу</option>
                                        @for(i <- groups) {
                                            <option @if(i.equals(filterForm.get.group.getOrElse(""))){selected} >@i</option>
                                        }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success">Скачать</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

