@import play.libs.F.Tuple
@(filterForm: play.api.data.Form[App.FilterData], lessons: List[Lesson], groups: List[(String,String)] = App.allGroups, instructors: Seq[String] = App.allInstructors)

@main("Главная")("home") {


<div id="content">
    <div id="content-header">
        <!--<div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Common elements</a> </div>-->
        <h1>Расписание занятий</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <p>Выбор группы </p><br>
                <ul name="s">
                    @for(g <- groups) {
                    <li><a href="/schedule/@g._1">@g._1 @g._2</a></li>

                    }
                </ul>

               <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Поиск</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form action="/search" method="get" class="form-horizontal">
                            <div class="control-groupNumber">
                                <label class="control-label">Группа</label>
                                <div class="controls">
                                    <select name="groupNumber">
                                        <option value=""{selected} >Все</option>
                                        @for(g <- groups) {
                                        <option value="@g._1" >@g._1 @g._2</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="control-groupNumber">
                                <label class="control-label">Преподаватель</label>
                                <div class="controls">
                                    <select multiple name="instructor[]">
                                        @for(i <- instructors) {
                                        <option @if(filterForm.get.instructor.contains(i)){selected} >@i</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">Искать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
}

