@(lessons: List[Lesson])

<!DOCTYPE html>
<html lang="en">
<head>
<title>Расписание занятий ИМЭИ ИГУ - Schedule IMEI ISU.RU</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/assets/css/colorpicker.css" />
<link rel="stylesheet" href="/assets/css/datepicker.css" />
<link rel="stylesheet" href="/assets/css/uniform.css" />
<link rel="stylesheet" href="/assets/css/select2.css" />
<link rel="stylesheet" href="/assets/css/matrix-style.css" />
<link rel="stylesheet" href="/assets/css/matrix-media.css" />
<link rel="stylesheet" href="/assets/css/bootstrap-wysihtml5.css" />
<link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">Schedule</a></h1>
</div>
<!--close-Header-part--> 


<!--sidebar-menu-->

<div id="sidebar"> <a href="#" class="visible-phone"><i class="icon icon-list"></i>Forms</a>
  <ul>
    <li class="active"><a href="index.html"><i class="icon icon-th"></i> <span>Расписание</span></a> </li>
    <li class="submenu"> <a href="#"><i class="icon icon-list"></i> <span>Экспорт в формате ICal</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="form-common.html">Расписание группы</a></li>
        <li><a href="form-validation.html">Расписание преподавателя</a></li>
      </ul>
    </li>
  </ul>
</div>

<!--close-left-menu-stats-sidebar-->

<div id="content">
<div id="content-header">
  <!--<div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Common elements</a> </div>-->
  <h1>Расписание</h1>
</div>
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Фильтр</h5>
        </div>
        <div class="widget-content nopadding">
          <form action="#" method="get" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">Группа</label>
              <div class="controls">
                <select>
				  <option>Все</option>
                  <option>2111</option>
                  <option>2121</option>
                  <option>2131</option>                
                </select>
              </div>
            </div>
			
            <div class="control-group">
              <label class="control-label">Преподаватель</label>
              <div class="controls">
                <select multiple >				  
                  <option>Иванов Иван Иванович</option>
                  <option>Петров Петр Петрович</option>
                  <option>Third option</option>
                  <option>Fourth option</option>
                  <option>Fifth option</option>
                  <option>Sixth option</option>
                  <option>Seventh option</option>
                  <option>Eighth option</option>
                </select>
              </div>
            </div>
            
			<div class="control-group">
              <label class="control-label">Дни</label>
              <div class="controls">
                <select multiple >
                  <option selected>Понедельник</option>
                  <option selected>Вторник</option>
                  <option selected>Среда</option>    
				  <option selected>Четверг</option>    
				  <option selected>Пятница</option>    
				  <option selected>Суббота</option>    
				  <option selected>Воскресенье</option>    
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>    
  </div>
  <div class="row-fluid">
	<div class="widget-box">

	  <div class="widget-content nopadding">
		<table class="table table-bordered table-striped">
		  <thead>
              <tr>
                  <th >Номер группы</th>
                  <th >День недели</th>
                  <th >Часы</th>
                  <th >Предмет</th>
                  <th >Преподаватель</th>
                  <th >Аудитория</th>
              </tr>  
              
			
		  </thead>
		  <tbody>
              @for(lesson <- lessons) {
                  <tr>
                      <td>@lesson.getGroupNumber</td>
                      <td>@lesson.getDay</td>
                      <td><span>@lesson.getHours</span></td>
                      <td>@lesson.getLecture</td>
                      <td>@lesson.getInstructor</td>
                      <td>@lesson.getRoom</td>
                  </tr>
              }
		  </tbody>
		</table>
	  </div>
	</div>
  </div>
</div></div>
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> &copy; <a href="mailto:ulyanov@@isu.ru">Ульянов Владимир Сергеевич</a> </div>
</div>
<!--end-Footer-part--> 
<script src="/assets/js/jquery.min.js"></script> 
<script src="/assets/js/jquery.ui.custom.js"></script> 
<script src="/assets/js/bootstrap.min.js"></script> 
<script src="/assets/js/masked.js"></script>
<script src="/assets/js/jquery.uniform.js"></script>
<script src="/assets/js/select2.min.js"></script> 
<script src="/assets/js/matrix.js"></script>
<script src="/assets/js/matrix.form_common.js"></script>
<script src="/assets/js/jquery.peity.min.js"></script>
</body>
</html>
