@(filterForm: play.api.data.Form[App.FilterData], lessons: List[Lesson], groupNumber:String, groups: List[(String,String)]= App.allGroups, instructors: Seq[String] = App.allInstructors)

@main("Главная")("schedule") {



<div id="content">
    <div id="content-header">
        <h1>Расписание занятий</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <a href=/> Расписание </a>-> Группа @(groupNumber)
        <br>
        <br>

    <div class="row-fluid">
    @if(lessons.isEmpty) {
    <h4>Нет данных для отображения</h4>
    } else {


    <script type="text/javascript">
$(document).ready(function(){
    $("#myTab2 li:eq(0) a").tab('show');
});
</script>

    <ul id="myTab2" class="nav nav-tabs">
        <li><a data-toggle="tab" href="#panely1">Обе</a></li>
        <li><a data-toggle="tab" href="#panely2">Четная</a></li>
        <li><a data-toggle="tab" href="#panely3">Нечетная</a></li>
        <li><form action="@routes.App.groupCalendar(groupNumber)" method="get" class="">
            <div class="">
                <button type="submit" class="save" >Скачать в формате .ics</button>
            </div>
        </form></li>
    </ul>

                <div class="tab-content">
                    <div id="panely1" class="tab-pane fade in active">
                        <div class="widget-box">
                            <div class="widget-content nopadding">
                                <table class="table table-bordered table-striped">
                                    <thead></thead>
                                    <tbody>
                                        @if(lessons.exists(lesson => lesson.getDay.equals("Пн"))){
                                        <tr><td colspan=3 class="day">Понедельник</td></tr>
                                            @for(lesson <- lessons.filter(lesson => lesson.getDay.equals("Пн"))) {
                                        <tr>
                                            <td><span>@lesson.getHours</span></td>
                                            <td>
                                                <div>
                                                    <span class="lecture">@lesson.getLecture</span><br>
                                                    <span class="name">@lesson.getInstructor</span>
                                                </div>
                                            </td>
                                            <td>@lesson.getRoom</td>
                                        </tr>
                                            }
                                        }
                                        @if(lessons.exists(lesson => lesson.getDay.equals("Вт"))){
                                        <tr><td colspan=3 class="day">Вторник</td></tr>
                                            @for(lesson <- lessons.filter(lesson => lesson.getDay.equals("Вт"))) {
                                        <tr>
                                            <td><span>@lesson.getHours</span></td>
                                            <td>
                                                <div>
                                                    <span class="lecture">@lesson.getLecture</span><br>
                                                    <span class="name">@lesson.getInstructor</span>
                                                </div>
                                            </td>
                                            <td>@lesson.getRoom</td>
                                        </tr>
                                            }
                                        }
                                        @if(lessons.exists(lesson => lesson.getDay.equals("Ср"))){
                                        <tr><td colspan=3 class="day">Среда</td></tr>
                                            @for(lesson <- lessons.filter(lesson => lesson.getDay.equals("Ср"))) {
                                        <tr>
                                            <td><span>@lesson.getHours</span></td>
                                            <td>
                                                <div>
                                                    <span class="lecture">@lesson.getLecture</span><br>
                                                    <span class="name">@lesson.getInstructor</span>
                                                </div>
                                            </td>
                                            <td>@lesson.getRoom</td>
                                        </tr>
                                            }
                                        }
                                        @if(lessons.exists(lesson => lesson.getDay.equals("Чт"))){
                                        <tr><td colspan=3 class="day">Четверг</td></tr>
                                            @for(lesson <- lessons.filter(lesson => lesson.getDay.equals("Чт"))) {
                                        <tr>
                                            <td><span>@lesson.getHours</span></td>
                                            <td>
                                                <div>
                                                    <span class="lecture">@lesson.getLecture</span><br>
                                                    <span class="name">@lesson.getInstructor</span>
                                                </div>
                                            </td>
                                            <td>@lesson.getRoom</td>
                                        </tr>
                                            }
                                        }
                                        @if(lessons.exists(lesson => lesson.getDay.equals("Чт"))){
                                        <tr><td colspan=3 class="day">Пятница</td></tr>
                                            @for(lesson <- lessons.filter(lesson => lesson.getDay.equals("Пт"))) {
                                        <tr>
                                            <td><span>@lesson.getHours</span></td>
                                            <td>
                                                <div>
                                                    <span class="lecture">@lesson.getLecture</span><br>
                                                    <span class="name">@lesson.getInstructor</span>
                                                </div>
                                            </td>
                                            <td>@lesson.getRoom</td>
                                        </tr>
                                            }
                                        }
                                        @if(lessons.exists(p => p.getDay.equals("Сб"))) {
                                        <tr><td colspan=3 class="day">Суббота</td></tr>
                                            @for(lesson <- lessons.filter(p => p.getDay.equals("Сб"))) {
                                        <tr>
                                            <td><span>@lesson.getHours</span></td>
                                            <td>
                                                <div>
                                                    <span class="lecture">@lesson.getLecture</span><br>
                                                    <span class="name">@lesson.getInstructor</span>
                                                </div>
                                            </td>
                                            <td>@lesson.getRoom</td>
                                        </tr>
                                            }
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                    <div id="panely2" class="tab-pane fade">
                        <div class="widget-box">
                            <div class="widget-content nopadding">

                                <table class="table table-bordered table-striped">
                                    <thead></thead>
                                    <tbody>
                                    @if(lessons.exists(p => p.getDay.equals("Пн") && (p.getWeek == 0 || p.getWeek == 2))){
                                    <tr><td colspan=3 class="day">Понедельник</td></tr>
                                        @for(lesson <- lessons.filter(p => p.getDay.equals("Пн") && (p.getWeek == 0 || p.getWeek == 2))) {
                                    <tr>
                                        <td><span>@lesson.getHours</span></td>
                                        <td>
                                            <div>
                                                <span class="lecture">@lesson.getLecture</span><br>
                                                <span class="name">@lesson.getInstructor</span>
                                            </div>
                                        </td>
                                        <td>@lesson.getRoom</td>
                                    </tr>
                                        }
                                    }
                                    @if(lessons.exists(p => p.getDay.equals("Вт") && (p.getWeek == 0 || p.getWeek == 2))){
                                    <tr><td colspan=3 class="day">Вторник</td></tr>
                                        @for(lesson <- lessons.filter(p => p.getDay.equals("Вт") && (p.getWeek == 0 || p.getWeek == 2))) {
                                    <tr>
                                        <td><span>@lesson.getHours</span></td>
                                        <td>
                                            <div>
                                                <span class="lecture">@lesson.getLecture</span><br>
                                                <span class="name">@lesson.getInstructor</span>
                                            </div>
                                        </td>
                                        <td>@lesson.getRoom</td>
                                    </tr>
                                        }
                                    }
                                    @if(lessons.exists(p => p.getDay.equals("Ср") && (p.getWeek == 0 || p.getWeek == 2))){
                                    <tr><td colspan=3 class="day">Среда</td></tr>
                                        @for(lesson <- lessons.filter(p => p.getDay.equals("Ср") && (p.getWeek == 0 || p.getWeek == 2))) {
                                    <tr>
                                        <td><span>@lesson.getHours</span></td>
                                        <td>
                                            <div>
                                                <span class="lecture">@lesson.getLecture</span><br>
                                                <span class="name">@lesson.getInstructor</span>
                                            </div>
                                        </td>
                                        <td>@lesson.getRoom</td>
                                    </tr>
                                        }
                                    }
                                    @if(lessons.exists(p => p.getDay.equals("Чт") && (p.getWeek == 0 || p.getWeek == 2))){
                                    <tr><td colspan=3 class="day">Четверг</td></tr>
                                        @for(lesson <- lessons.filter(p => p.getDay.equals("Чт") && (p.getWeek == 0 || p.getWeek == 2))) {
                                    <tr>
                                        <td><span>@lesson.getHours</span></td>
                                        <td>
                                            <div>
                                                <span class="lecture">@lesson.getLecture</span><br>
                                                <span class="name">@lesson.getInstructor</span>
                                            </div>
                                        </td>
                                        <td>@lesson.getRoom</td>
                                    </tr>
                                        }
                                    }
                                    @if(lessons.exists(p => p.getDay.equals("Пт") && (p.getWeek == 0 || p.getWeek == 2))){
                                    <tr><td colspan=3 class="day">Пятница</td></tr>
                                        @for(lesson <- lessons.filter(p => p.getDay.equals("Пт") && (p.getWeek == 0 || p.getWeek == 2))) {
                                    <tr>
                                        <td><span>@lesson.getHours</span></td>
                                        <td>
                                            <div>
                                                <span class="lecture">@lesson.getLecture</span><br>
                                                <span class="name">@lesson.getInstructor</span>
                                            </div>
                                        </td>
                                        <td>@lesson.getRoom</td>
                                    </tr>
                                        }
                                    }
                                    @if(lessons.exists(p => p.getDay.equals("Сб") && (p.getWeek == 0 || p.getWeek == 2))) {
                                    <tr><td colspan=3 class="day">Суббота</td></tr>
                                        @for(lesson <- lessons.filter(p => p.getDay.equals("Сб") && (p.getWeek == 0 || p.getWeek == 2))) {
                                    <tr>
                                        <td><span>@lesson.getHours</span></td>
                                        <td>
                                            <div>
                                                <span class="lecture">@lesson.getLecture</span><br>
                                                <span class="name">@lesson.getInstructor</span>
                                            </div>
                                        </td>
                                        <td>@lesson.getRoom</td>
                                    </tr>
                                        }
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="panely3" class="tab-pane fade">
                        <div class="widget-box">
                            <div class="widget-content nopadding">
                                <table class="table table-bordered table-striped">
                                    <thead></thead>
                                    <tbody>
                                    @if(lessons.exists(p => p.getDay.equals("Пн") && (p.getWeek == 0 || p.getWeek == 1))){
                                        <tr><td colspan=3 class="day">Понедельник</td></tr>
                                        @for(lesson <- lessons.filter(p => p.getDay.equals("Пн") && (p.getWeek == 0 || p.getWeek == 1))) {
                                            <tr>
                                                <td><span>@lesson.getHours</span></td>
                                                <td>
                                                    <div>
                                                        <span class="lecture">@lesson.getLecture</span><br>
                                                        <span class="name">@lesson.getInstructor</span>
                                                    </div>
                                                </td>
                                                <td>@lesson.getRoom</td>
                                            </tr>
                                        }
                                    }
                                    @if(lessons.exists(p => p.getDay.equals("Вт") && (p.getWeek == 0 || p.getWeek == 1))){
                                        <tr><td colspan=3 class="day">Вторник</td></tr>
                                        @for(lesson <- lessons.filter(p => p.getDay.equals("Вт") && (p.getWeek == 0 || p.getWeek == 1))) {
                                            <tr>
                                                <td><span>@lesson.getHours</span></td>
                                                <td>
                                                    <div>
                                                        <span class="lecture">@lesson.getLecture</span><br>
                                                        <span class="name">@lesson.getInstructor</span>
                                                    </div>
                                                </td>
                                                <td>@lesson.getRoom</td>
                                            </tr>
                                        }
                                    }
                                    @if(lessons.exists(p => p.getDay.equals("Ср") && (p.getWeek == 0 || p.getWeek == 1))){
                                        <tr><td colspan=3 class="day">Среда</td></tr>
                                        @for(lesson <- lessons.filter(p => p.getDay.equals("Ср") && (p.getWeek == 0 || p.getWeek == 1))) {
                                            <tr>
                                                <td><span>@lesson.getHours</span></td>
                                                <td>
                                                    <div>
                                                        <span class="lecture">@lesson.getLecture</span><br>
                                                        <span class="name">@lesson.getInstructor</span>
                                                    </div>
                                                </td>
                                                <td>@lesson.getRoom</td>
                                            </tr>
                                        }
                                    }
                                    @if(lessons.exists(p => p.getDay.equals("Чт") && (p.getWeek == 0 || p.getWeek == 1))){
                                        <tr><td colspan=3 class="day">Четверг</td></tr>
                                        @for(lesson <- lessons.filter(p => p.getDay.equals("Чт") && (p.getWeek == 0 || p.getWeek == 1))) {
                                            <tr>
                                                <td><span>@lesson.getHours</span></td>
                                                <td>
                                                    <div>
                                                        <span class="lecture">@lesson.getLecture</span><br>
                                                        <span class="name">@lesson.getInstructor</span>
                                                    </div>
                                                </td>
                                                <td>@lesson.getRoom</td>
                                            </tr>
                                        }
                                    }
                                    @if(lessons.exists(p => p.getDay.equals("Пт") && (p.getWeek == 0 || p.getWeek == 1))){
                                        <tr><td colspan=3 class="day">Пятница</td></tr>
                                        @for(lesson <- lessons.filter(p => p.getDay.equals("Пт") && (p.getWeek == 0 || p.getWeek == 1))) {
                                            <tr>
                                                <td><span>@lesson.getHours</span></td>
                                                <td>
                                                    <div>
                                                        <span class="lecture">@lesson.getLecture</span><br>
                                                        <span class="name">@lesson.getInstructor</span>
                                                    </div>
                                                </td>
                                                <td>@lesson.getRoom</td>
                                            </tr>
                                        }
                                    }
                                    @if(lessons.exists(p => p.getDay.equals("Сб") && (p.getWeek == 0 || p.getWeek == 1))) {
                                        <tr><td colspan=3 class="day">Суббота</td></tr>
                                        @for(lesson <- lessons.filter(p => p.getDay.equals("Сб") && (p.getWeek == 0 || p.getWeek == 1))) {
                                            <tr>
                                                <td><span>@lesson.getHours</span></td>
                                                <td>
                                                    <div>
                                                        <span class="lecture">@lesson.getLecture</span><br>
                                                        <span class="name">@lesson.getInstructor</span>
                                                    </div>
                                                </td>
                                                <td>@lesson.getRoom</td>
                                            </tr>
                                        }
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
    }
    </div>
    </div>
</div>

}

